.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/cc608474dc3e5f775ccfcf9d8e37ed2e1d7944089f2deb49afa3dd4a2554c9a2733eca844ee46e0d7d81d37cdb1d69cf7b8f58872ac68032e654bb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1417px;
}

.u-section-1 .u-text-1 {
  width: 606px;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 42px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.6;
  font-size: 1.125rem;
  margin: 43px 0 60px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}

.u-section-1 .u-btn-9 {
  padding: 0;
}

.u-section-1 .u-btn-10 {
  padding: 0;
}

.u-section-1 .u-btn-11 {
  padding: 0;
}

.u-section-1 .u-btn-12 {
  padding: 0;
}

.u-section-1 .u-btn-13 {
  padding: 0;
}

.u-section-1 .u-btn-14 {
  padding: 0;
}

.u-section-1 .u-btn-15 {
  padding: 0;
}

.u-section-1 .u-btn-16 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1236px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 580px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/bio_pic.JPG");
  background-position: 50% 3.47%;
  margin: 13px auto 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 68px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 63px;
  margin: 140px auto -14px -28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 837px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  font-style: normal;
  width: 749px;
  margin: 59px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 30px 111px 0 349px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 349px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px 380px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 258px;
  height: 258px;
  background-image: url("images/IMG_3547.jpg");
  background-position: 5.12% 50%;
  margin: 34px auto 60px 430px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 11px;
    margin-left: 249px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 249px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 180px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 40px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -24px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -43px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 82px;
  }
}